<div class="logo">
  <img src="assets/images/logo-rond-bleu-transparent.png" alt="">
</div>
<nav>
  <div>
    <a href="http://google.fr" class="button" target="_blank">Proposer un talk</a>
  </div>
  <ul>
    <li><a routerLink="/events" routerLinkActive="active"><span class="typcn typcn-calendar-outline"></span> Soirées</a></li>
    <li><a routerLink="/speakers" routerLinkActive="active"><span class="typcn typcn-microphone-outline"></span> Speakers</a></li>
    <li><a routerLink="/sponsors" routerLinkActive="active"><span class="typcn typcn-gift"></span> Sponsors</a></li>
    <li><a routerLink="/about" routerLinkActive="active"><span class="typcn typcn-group-outline"></span> A propos</a></li>
  </ul>
</nav>